<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Seat Geek</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

</head>
<body ng-app="app">

  <div id="ng-view" ng-view></div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  <!-- Angular -->
  <script src="/ng/components/angular/angular.min.js"></script>
  <script src="/ng/components/angular-route/angular-route.min.js"></script>
  <script src="/ng/components/angular-sanitize/angular-sanitize.min.js"></script>
  <!-- CS Utilities -->
  <script src="/ng/components/angular-utilities/loading.js"></script>
  <script src="/ng/components/angular-utilities/pubsub.js"></script>
  <script src="/ng/components/moment/moment.js"></script>
  <script src="/ng/components/angular-utilities/modal.js"></script>
  <script src="/ng/components/angular-utilities/passive-messenger.js"></script>
  <script src="/ng/components/angular-ui-select/dist/select.js"></script>
  <script src="/ng/components/materialize/angular-materialize.js"></script>
  <!-- Application Code -->
  <script src="/ng/app/module.js"></script>
  <script src="/ng/app/routes.js"></script>

  <script src="/ng/app/main/main.rest.js"></script>
  <script src="/ng/app/main/main.model.js"></script>
  <script src="/ng/app/main/main.controller.js"></script>

  <script src="/ng/directives/date.directive.js"></script>



  </body>
</html>
