<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Seat Now</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/ng/components/angular-utilities/passive-messenger.css">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!--  Scripts-->
  <script src="/ng/components/jquery/dist/jquery.min.js"></script>
</head>
<body ng-app="app">
  <!-- <div x-passive-messenger></div> -->
  <div id="wrapper">

    <div id="content">
      <nav class="orange" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo">SeatNow</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#/profile" id="user_name"></a></li>
            <li><a href="" class="logout"><i class="mdi-action-exit-to-app"></i></a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav" style="left: -250px;">
            <li><a href="#/profile">Profile</a></li>
            <li><a href="" class="logout"><i class="mdi-action-exit-to-app"></i></a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse top-nav" data-sidenav="left" data-menuwidth="500"  data-closeonclick="true"><i class="material-icons">menu</i></a>
        </div>
      </nav>
      <div id="ng-view" ng-view></div>
    </div>
  </div>
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SeatNow</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Social</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <script type="text/javascript">
    var active_user = {{active_user}};
    var logout_url = "{{logout_url}}";
    var commission = {{commission}};
    $( "#content .logout" ).click(function() {
      /*alert( "Handler for .click() called." );*/
      window.location.replace(logout_url);
    });
    var userName = null;
    var greeter = "";
    (typeof(active_user.first_name) !== 'undefined') ? userName=active_user.first_name : userName=active_user.email;
    document.getElementById('user_name').text = "Hi " + userName + "!";
  </script>

  <!--Import jQuery before materialize.js-->
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>
  <script src="https://www.paypalobjects.com/js/external/dg.js"></script>
  <script>
    var dgFlow = new PAYPAL.apps.DGFlow({ trigger: 'submitBtn' });
    dgFlow = top.dgFlow || top.opener.top.dgFlow;
    dgFlow.closeFlow();
    top.close();
  </script>
  <!-- Angular -->
  <script src="/ng/components/angular/angular.min.js"></script>
  <script src="/ng/components/angular-route/angular-route.min.js"></script>
  <script src="/ng/components/angular-sanitize/angular-sanitize.min.js"></script>
  <!-- CS Utilities -->
  <script src="/ng/components/angular-utilities/loading.js"></script>
  <script src="/ng/components/angular-utilities/pubsub.js"></script>
  <script src="/ng/components/moment/moment.js"></script>
  <script src="/ng/components/angular-utilities/modal.js"></script>
  <script src="/ng/components/angular-utilities/passive-messenger.js"></script>
  <script src="/ng/components/angular-ui-select/dist/select.js"></script>
  <script src="/ng/components/materialize/angular-materialize.js"></script>

  <!-- Application Code -->
  <script src="/ng/app/module.js"></script>
  <script src="/ng/app/routes.js"></script>

  <script src="/ng/app/event/event.rest.js"></script>
  <script src="/ng/app/event/event.model.js"></script>
  <script src="/ng/app/event/event.controller.js"></script>

  <script src="/ng/app/deals/deals.rest.js"></script>
  <script src="/ng/app/deals/deals.model.js"></script>
  <script src="/ng/app/deals/deals.controller.js"></script>

  <script src="/ng/app/account/account.rest.js"></script>
  <script src="/ng/app/account/account.model.js"></script>
  <script src="/ng/app/account/account.controller.js"></script>

  <script src="/ng/app/ticket/ticket.rest.js"></script>
  <script src="/ng/app/ticket/ticket.model.js"></script>
  <script src="/ng/app/ticket/ticket.controller.js"></script>

  <script src="/ng/directives/date.directive.js"></script>

  </body>
</html>
