    <div class="container" style="width: 95%; max-width:500px; margin-left: 20px;">
    <div class="section">

      <div class="row">
        <div class="col s12">
          <div class="icon-block">
            <h5 class="center">You are buying tickets through SeatNow.</h5>


            <p class="light" ><strong>{{ticket.model.details.event.event_name}}</strong> <br/>
              {{ticket.model.details.event.schedule_date}} at {{ticket.model.details.event.schedule_time}} <br/> {{ticket.model.details.event.venue}} {{ticket.model.details.event.location}} <br />
              <!-- <strong>Section 216, Row 17</strong> -->
            </p>

          </span>

            <br />
            <br />

            <table class="bordered">
              <thead>
                <tr>
                    <th data-field="name">ORDER SUMMARY</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Price</td>
                  <td>{{ticket.model.details.price | currency: "₱"}}</td>
                </tr>
                <tr>
                  <td>Quantity</td>
                  <td>
                    <div>{{ticket.model.details.quantity}} Tickets
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Service Charge</td>
                  <td>10%</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>{{ticket.model.total | currency: "₱"}}</td>
                </tr>
              </tbody>
            </table>

            <p class="light">
              <!-- <a href="#!" class="waves-effect waves-light btn">Buy Now</a> -->
              <!-- <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png" alt="Buy now with PayPal" /> -->
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="2XF3MM7835ZVS">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </p>
          </div>
        </div>

      </div>

    </div>
  </div>

