  <nav class="orange" role="navigation">
    <div class="nav-wrapper container" style="width: 95%;">
      <a id="logo-container" href="#" class="brand-logo">SeatGeek</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container" style="width: 95%; max-width:500px; margin-left: 20px;">
        <span class="title" >
        <p class="black-text"><strong>Golden State Warriors at Atlanta Hawks</strong> <br/>
        Philips Arena — Atlanta, GA on Mon Feb 22, 2016 at 8:00pm</p>
        </span>
        <br><br>
        <ul class="collection with-header">
          <li class="collection-header black-text"><h6><strong>Great Deals</strong></h6></li>
          <li class="collection-item avatar">
            <img src="images/yuna.jpg" alt="" class="circle">
            <span class="title">
              <a href="#!">Section 225</a>
            </span>
            <p class="black-text">2 e-tickets</p>
            <img src="images/yuna.jpg" alt="" class="secondary-content"/>
            <a href="#/checkout" class="secondary-content waves-effect waves-light btn">700/ea</a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">circle</i>
            <span class="title">
              <a href="#!">Section 216</a>
            </span>
            <p class="black-text">4 e-tickets</p>
            <a href="#/checkout" class="secondary-content waves-effect waves-light btn">800/ea</a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">
              <a href="#!">Section 109</a>
            </span>
            <p class="black-text">3 e-tickets</p>
            <a href="#/checkout" class="secondary-content waves-effect waves-light btn">1,100/ea</a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">
              <a href="#!">Section 121</a>
            </span>
            <p class="black-text">2 e-tickets</p>
            <a href="#/checkout" class="secondary-content waves-effect waves-light btn">1,200/ea</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

