  <nav class="orange" role="navigation">
    <div class="nav-wrapper container" style="width: 95%;">
      <a id="logo-container" href="#" class="brand-logo">SeatNow</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container" style="width: 95%; max-width:500px; margin-left: 20px;">
        <span class="title" >
        <p class="black-text"><strong>{{deals.model.details.event_name}}</strong> <br/>
        {{deals.model.details.venue}} — {{deals.model.details.location}} on {{deals.model.details.schedule_date.month | date : 'MMM'}} {{deals.model.details.schedule_date.day}}, {{deals.model.details.schedule_date.year}} at {{deals.model.details.schedule_time}}</p>
        </span>
        <br><br>
        <ul class="collection with-header">
          <li class="collection-header black-text"><h6><strong>Great Deals</strong></h6></li>
          <li class="collection-item avatar" ng-if="deals.model.showDeals.length == 0">
            <span class="black-text">
             No available seat yet.
            </span>
          </li>

          <li class="collection-item avatar" ng-repeat="v in deals.model.showDeals" ng-if="deals.model.showDeals.length > 0">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">
              <a href="#!">{{v.section}}</a>
            </span>
            <p class="black-text">{{v.quantity}} e-tickets</p>
            <a href="#/checkout/{{v.key.urlsafe}}" class="secondary-content waves-effect waves-light btn">{{v.price | currency: "₱"}}/ea</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

