<nav class="orange" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">SeatNow</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse top-nav" data-sidenav="left" data-menuwidth="500"  data-closeonclick="true"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="container">
  <div class="section">
    <div class="row" style="margin-bottom:20%;">
      <div class="row">
        <div class="input-field col s12">
          <h5 class="center">Login</h5>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <button class="waves-effect waves-light btn">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
